.header {
    position: fixed;
    right: 0px;
    left: 0px;
  }
  
  .navbar .nav-item {
    display: inline-block;
    padding: 10px 0;
    width: 33.3%;
    text-align: center;
  }
  
  .white {
    color: white;
  }